<div data-ng-controller='courseCtrl'>
  <form name='createcourse'>
    <input type='text' data-ng-model='course.name'></input>
    <input type='text' data-ng-model='course.schedule'></input>
    <input type='text' data-ng-model='course.description'></input>
    <button data-ng-click='createCourse()'>Create Course</button>
    <button data-ng-click='updateCourse()'>Update Course</button>
  </form>
  <form name='getcourses'>
    <button data-ng-click='getCourses()'>Get All Courses</button>
    <div>{{courses}}</div>
  </form>
  <form name='getcourse'>
    <input type='text' data-ng-model='coursecode'>Enter Course Code</input>
    <button data-ng-click='getCourse()'>Get Course</button>
    <div>{{coursecode}}</div>
  </form>
  <form name='deletecourse'>
    <input type='text' data-ng-model='deletecourse'>Enter Course Code</input>
    <button data-ng-click=''
  </form>
</div>
