<div data-ng-controller='courseCtrl'>
  <form name='createcourse'>
    <input type='text' data-ng-model='course.name'>Name</input>
    <input type='text' data-ng-model='course.schedule'>Schedule</input>
    <input type='text' data-ng-model='course.description'>Description</input>
    <input type='text' data-ng-model='course.code'>Course Code</input>
    <button data-ng-click='createCourse()'>Create Course</button>
    <button data-ng-click='updateCourse()'>Update Course</button>
  </form>
  <form name='getcourses' data-ng-model='courses'>
    <button data-ng-click='getCourses()'>Get All Courses</button>
    <div>{{courses}}</div>
  </form>
  <form name='getcourse'>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <button data-ng-click='getCourse()'>Get Course</button>
    <div>{{course}}</div>
  </form>
  <form name='delete'>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <button data-ng-click='deleteCourse()'>Delete Course</button>
  </form>
</div>
<div data-ng-controller='enrollmentCtrl'>
  <form>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <button data-ng-click=''
  </form>
</div>
