<h1>Admin Page</h1>

<article data-ng-controller='courseCtrl'>
  <form name='createcourse'>
    <h2>Create/Edit Course Description</h2>
    <div>
      <h4>Name</h4>
    <input type='text' data-ng-model='course.name'></input>
    <h4>Schedule</h4>
    <input type='text' data-ng-model='course.schedule'></input>
    <h4>Description</h4>
    <input type='text' data-ng-model='course.description'></input>
  </div>
    <button data-ng-click='createCourse()'>Create Course</button>
    <button data-ng-click='updateCourse()'>Update Course</button>
  </form>
      <form name='confirmteacher'>
    <h2>Add/Remove Teacher</h2>
    <input type='text' data-ng-model='user'>Enter Email</input>
      <button data-ng-click='confirmTeacher()'>Confirm Teacher</button>
      <button data-ng-click='unconfirmTeacher()'>Unconfirm Teacher</button>
    </form>
  <!--student stuff-->

<h2>Course Info</h2>
  <form name='getcourses' data-ng-model='courses'>
    <button data-ng-click='getCourses()'>Get All Courses</button>
    <section data-ng-repeat='course in courses'>
    </br>
    <div>
      <section>Course Name: {{course.name}}</section>
    </div>
    <div>
      <section>Course Schedule: {{course.schedule}}</section>
    </div>
    <div>
      <section>Course Summary: {{course.summary}}</section>
    </div>
    <div>
      <section>Course Code: {{course.code}}</section>
    </div>
    </br>
    </section>
  </form>
  <h2>Find a course</h2>
  <form name='getcourse'>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <button data-ng-click='getCourse()'>Get Course</button>
    <section>{{course.name}}</section>
    <section>{{course.schedule}}</section>
    <section>{{course.description}}</section>
    <section>{{enrollment.teachers[0].email}}</section>
  </br>
  </form>
  <!--teacher only-->

<h2>Delete Course</h2>
  <form name='delete'>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <button data-ng-click='deleteCourse()'>Delete Course</button>
  </form>
</article>
<article data-ng-controller='adminCtrl'>
  <!--for admins & teachers only-->
  <h2>Assign a teacher</h2>
  <form name='addteachertocourse'>
    <input type='text' data-ng-model='course.code' required>Enter Course Code</input>
    <button data-ng-click='addTeacher()'>Add Teacher</button>
    <article data-ng-model='enrollments'>
      <article data-ng-repeat='enrollment in enrollments'>
        Course Name: {{enrollment.coursename}} Teacher:{{enrollment.teachers[0].email}}
      </article>
    </article>
  </form>
</article>
