<body>
  <article>
    <section>Classes</section>
  <div data-ng-controller='teacherCtrl'>
  <header> <img src="images/logo.png"> </header>

      <form name='passcourse'>
    <article>Pass A Student in a Course</article>
    <input type='text' data-ng-model='course.code'>Enter Course Code</input>
    <input type='text' data-ng-model='user.email'>Enter User Email</input>
    <button data-ng-click='markPass()'>Confirm Student Pass</button>
    <article>
      Student: {{enrollment.enrollment.students[0].email}}
      Pass: {{enrollment.enrollment.students[0].pass}}
     </br>
    </article>
  </form>
  </div>
    <ul>
      <li>SOME Class</li>
      <li>SOME Class</li>
    <ul>

    <button class="create">Submit</button>
  </section>
</article>
