<div data-ng-controller='userIndexCtrl'>
  <form name='userinfo' data-ng-init='User()'>
    <input type='text' data-ng-model='user.basic.email'>Email</input>
    <input type='text' data-ng-model='user.userinfo.name.first'>First Name</input>
    <input type='text' data-ng-model='user.userinfo.name.last'>Last Name</input>
    <input type='text' data-ng-model='user.userinfo.phone'>Phone Number</input>
    <button data-ng-click='changeUserInfo()'>Save User Info</button>
        <div>{{user.basic.email}}</div>
        <div>{{user.userinfo.name.first}}</div>
        <div>{{user.userinfo.name.last}}</div>
        <div>{{user.userinfo.phone}}</div>
  </form>
  <form name='deleteuser'>
    <input type='text' data-ng-model='deleteuser.email'>enter user email to delete account</input>
    <input type='text' data-ng-model='deleteuser.emailConfirmation'>Confirm email</input>
    <button data-ng-click='deleteUser()'>Delete User</button>
   </form>
   <form name='getallusers'>
    <button data-ng-click='allUsers()'>Get All Users</button>
    <div data-ng-repeat='user in users'>
    email: {{user.basic.email}} admin: {{user.userStatus.admin}} teacher: {{user.userStatus.teacher}} userinfo: First: {{user.userinfo.name.first}} Last: {{user.userinfo.name.last}} Phone: {{user.userinfo.phone}}
    </div>
   </form> 
</div>
