<!DOCTYPE html>
<html ng-app="generator">
<head>
  <meta charset='utf-8'>
  <title>Code Fellows</title>
  <link rel="stylesheet" href="../../scss/layout.css">
</head>

<header><img class="logo" src="../../images/logo.png"> </header>
<body data-ng-controller="quizCtrl">

  <article>
    <section class="interest">
      <p>"What are you interested in?"</p>
      <button class="quiz">Take the Quiz</button>
    </section>

    <section class="signin">
      <h1>Already have an account?</h1>
      <button class="create">Sign In</button>
    </section>

</body>
</html>
