<div data-ng-controller="quizCtrl">
  <header> <img class="logo" src="images/logo.png"> </header>
  <form name='createquizquestion'>
    <input type='text' data-ng-model='quiz.quizQuestion.question'>Question</input>
    <input type='text' data-ng-model='quiz.quizQuestion.questionValue.javascript'>JavaScript True/False</input>
    <input type='text' data-ng-model='quiz.quizQuestion.questionValue.python'>Python True/False</input>
    <input type='text' data-ng-model='quiz.quizQuestion.questionValue.ruby'>Ruby True/False</input>
    <input type='text' data-ng-model='quiz.quizQuestion.questionValue.objectiveC'>objectiveC True/False</input>
    <button data-ng-click='createQuestion()'>Submit Quiz Question</button>
    <button data-ng-click='changeQuestion()'>Update Quiz Question</button>
  </form>
  <form name='getquestions'>
    <button data-ng-model='quizquestions' data-ng-click='getQuestions()'>Get All Questions</button>
    <div>{{quizquestions}}</div>
  </form>
  <form name='getquestion'>
    <input type='text' data-ng-model='quizquestion.code'>Quiz Code Here</input>
    <button  data-ng-click='getOneQuestion()'>Get A Question</button>
    <div>{{quizquestion}}</div>
  </form>
  <form name='deletequestion'>
    <input type='text' data-ng-model='quizquestion.code'>Quiz Code Here</input>
    <button data-ng-click='deleteQuestion()'>Delete Question</button>
    <div>{{quizquestion}}</div>
  </form>
</div>
