<div data-ng-controller="messagesCtrl">
  <article>
    <section>
      <div>
      <p><label for="from">From</label>
        <div class='msg'>
          {{message.from}}
        </div>
      </p>

      <p><label for="subject">subject</label>
        <div class='msg'>
          {{message.subject}}
        </div>
      </p>

      <p><label for="body">Message</label>
        <div class='msg'>
          {{message.body}}
        </div>
      </p>
    </div>

      <button> Reply </button>
    </section>
  </article>
</div>
