<!DOCTYPE html>
<html ng-app="generator">
<head>
  <meta charset='utf-8'>
  <title>Code Fellows</title>
  <link rel="stylesheet" href="../../scss/layout.css">
</head>

<header><img class="logo" src="../../images/logo.png"> </header>
<body>
<div data-ng-controller="messagesCtrl">
  <article>
    <section>
      <div>
      <p><label for="from">From</label>
        <div class='msg'>
          {{message.from}}
        </div>
      </p>

      <p><label for="subject">Subject</label>
        <div class='msg'>
          {{message.subject}}
        </div>
      </p>

      <p><label for="body">Message</label>
        <div class='msg'>
          {{message.body}}
        </div>
      </p>
    </div>

      <button class="create"> Reply </button>
    </section>
  </article>
</div>
</body>
</html>
