<div data-ng-controller="messagesCtrl">
  <article>
    <section>
      <p>New Message</p>
    </section>

    <section>
      <form name="newMessage">
      <p><label for="name">To</label>
        <input id="name" name="name" type="text" placeholder="email" data-ng-model="newMessage.to"></p>

      <p><label for="subject">Subject</label>
        <input id="message"  name="message" type="text" placeholder="Subject" data-ng-model="newMessage.subject"></p>

      <p><label for="message">Message</label>
        <input id="message" name="message" type="text" data-ng-model="newMessage.message"></p>

      <button data-ng-click="send()"> Send </button>
    </section>
  </article>
</div>
